In [1]:
import pandas as pd

In [5]:
dataFrame = pd.read_excel("maas.xlsx")

In [12]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atil   100  40.0    Yazilim
1     Zeynep   150  24.0      Satis
2     Mehmet   260  33.0        NaN
3      Atlas   432   NaN  Pazarlama
4      Fatma   555  23.0     Finans
5      Ahmet   432  25.0      Hukuk

In [10]:
doluDegerlerDataFrame = dataFrame.dropna()

In [11]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas Departman
0       Atil   100  40.0   Yazilim
1     Zeynep   150  24.0     Satis
4      Fatma   555  23.0    Finans
5      Ahmet   432  25.0     Hukuk

In [13]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx")

In [14]:
## read_csv
## to_csv
## diger format